/*$state_online: green;
$state_chat: green;
$state_away: orange;
$state_offline: #cfcfcf;

$roster_border_left: #aaa;
$roster_bg: #e6e7e6;

$name_hover: #000;

$roster_bottom_border_top: #555;
$roster_color: #555;

$roster_icon_bg: #9abcd8;
$roster_icon_color: #b8d0e3;

$window_bg: #ccddec; */

$window_bar_bg: rgb(77,128,128);
