div#jsxc_roster {
	top: 30px;
	box-shadow: -4px 0px #E6E7E6;
    .slimScrollDiv {
 	    left: -5px;
    }
}

ul#jsxc_buddylist {
    li {
        width: auto;
    }
    .jsxc_control {
        &:after {
            color: #888;
            font-size: 17px;
        }
    }
}

.jsxc_window textarea.jsxc_textinput {
    background: #fff;
}

div#jsxc_roster .slimScrollDiv {
   left: 0px;
}

#jsxc_dialog {
    label {
        margin-left: 0;
    }
}

.jsxc_right{
	margin: 0px;
}

#jsxc_alt a {
    cursor: pointer;
}
