div#jsxc_windowList, div#jsxc_dialog, div#jsxc_roster {
	font-size: 0.9em;
}
.jsxc_windowItem {
	a {
		text-decoration: none;
	}
}
.jsxc_rosteritem {
	a {
		text-decoration: none;
	}
}
.jsxc_window .jsxc_emoticons ul {
	box-sizing: content-box;
}
div#jsxc_roster {
	top: 64px;
}
div#jsxc_windowList, div#jsxc_windowListSB {
	z-index: 65;
}
[ui-view="mailbox"] > .md-flex.ng-scope.layout-row {
	margin-right: 0;
	transition: margin-right 0.5s;
}
.jsxc_rosterVisible {
	[ui-view="mailbox"] > .md-flex.ng-scope.layout-row {
		margin-right: 200px;
	}
}
#jsxc_chatIcon {
	background-size: 22px 22px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/chat-icon-white.svg');
	opacity: 0.870588;
}

/*ul#jsxc_buddylist {
    li {
        width: auto;
    }
    .jsxc_control {
        &:after {
            color: #888;
            font-size: 17px;
        }
    }
}

.jsxc_window input.jsxc_textinput {
    background: #fff;
}

div#jsxc_roster .slimScrollDiv {
   left: 0px; 
}

#jsxc_dialog {
    label {
        margin-left: 0;
    }
}

.jsxc_right{
	margin: 0px;
}

#jsxc_alt a {
    cursor: pointer;
}*/
